@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.testimonial-container{
  width: 40%;
  background-color: slateblue;
  padding: 10px 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 60px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.testimonial-container:nth-child(odd){
  border-radius: 10px 10px 60px 10px;
}

.name{
  align-self: start;
  margin-top: 10px;
}

.img-container img{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.active{
  opacity: 1;
  position: relative;
}

button{
  padding: 10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 0 20px;
  background-color: darkgray;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

